@charset "UTF-8";
@import url(styles/sanitize.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kosugi Maru',sans-serif;
  font-family: 'M PLUS Rounded 1c',sans-serif;
}

.wrapper {
  opacity: 0;
}

.pace-done .wrapper {
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: padding-box;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  height: 10px;
  background: linear-gradient(-135deg, #ff8ba7, #c3f0ca);
  -webkit-animation-name: Loading-animation;
  animation-name: Loading-animation;
  line-height: 40px;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 120px 0 #fff,240px 0 #fff;
  -ms-box-shadow: 120px 0 #fff,240px 0 #fff;
  box-shadow: 120px 0 #fff,240px 0 #fff;
  z-index: 2002;
}

@-webkit-keyframes Loading-animation {
  0% {
    top: 20px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 20px;
  }
}

@keyframes Loading-animation {
  0% {
    top: 20px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 20px;
  }
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 105px;
  text-align: right;
  top: 10px;
  right: 0;
  padding-right: 16px;
  font-weight: 300;
  font-size: 1.5em;
  -webkit-animation-name: Loading-font-animation;
  animation-name: Loading-font-animation;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: #ff8ba7;
}

.pace .pace-activity {
  position: absolute;
  left: 5px;
  width: 93%;
  height: 20px;
  z-index: 2001;
  background-color: #ff8ba648;
  -webkit-box-shadow: 0 0 8px #fff inset;
  box-shadow: 0 0 8px #fff inset;
  -webkit-animation-name: pace-activity-animation;
  animation-name: pace-activity-animation;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 10px;
}

@-webkit-keyframes pace-activity-animation {
  0% {
    top: 30px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

@keyframes pace-activity-animation {
  0% {
    top: 30px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.pace.pace-inactive {
  display: none;
}

.background_image {
  background: url(img/texture.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 238, 231, 0.6);
  background-blend-mode: overlay;
}

.header_sidebar {
  position: absolute;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color: #ffc6c7;
  -webkit-box-shadow: 1px 0 10px #ffc6c7;
  box-shadow: 1px 0 10px #ffc6c7;
  z-index: 2;
}

.header_sidebar .global-nav__list {
  margin: 0;
  position: absolute;
  left: 0;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 60px;
}

.global-nav__item a {
  color: #33272a;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 3px;
}

.Home-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-image {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.main_title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 5rem;
  padding-top: 20px;
  color: #fffffe;
  text-shadow: 3.5px 3.5px 2px #33272a,-1px 1px 0 #33272a,1px -1px 0 #ff8ba7,-1px -1px 0 #ff8ba7;
}

.menu {
  height: 20px;
  position: fixed;
  right: 50px;
  top: 50px;
  width: 30px;
  z-index: 1300;
  cursor: pointer;
}

.menu__line {
  background: #33272a;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  width: 100%;
  z-index: 1200;
}

.menu__line--foundation {
  position: absolute;
  border: solid 1.5px #ffc6c7;
  background-color: #fffffe;
  right: -1.6em;
  bottom: -1.8em;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 1100;
  -webkit-transition: .7s;
  transition: .7s;
}

.menu__line--center {
  top: 9px;
  z-index: 1200;
}

.menu__line--bottom {
  bottom: 0;
  z-index: 1200;
}

.menu__line--top.menu-active {
  background-color: #faeee7;
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__line--center.menu-active {
  background-color: #faeee7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.menu__line--bottom.menu-active {
  background-color: #faeee7;
  bottom: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu__line--foundation.menu-active {
  background: #33272a;
  -webkit-transform: scale(2);
  transform: scale(2);
  right: -2em;
  bottom: -2.5em;
  position: absolute;
  width: 100px;
  height: 100px;
}

.menu__line--foundation.menu-active:hover {
  opacity: .7;
}

.gnav {
  background: #ffc6c7d7;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1050;
}

.gnav__wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.gnav__menu__item {
  margin: 40px 0;
  list-style: none;
}

.gnav__menu__item a {
  color: #fffffe;
  font-size: 2.5em;
  font-weight: 700;
  padding: 40px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.gnav__menu__item a:hover {
  color: #c3f0ca;
}

#Home {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#Home .animation-Home {
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 0 #fff,-2px -2px 0 #fff,2px -2px 0 #fff,-2px 2px 0 #fff;
  box-shadow: 2px 2px 0 #fff,-2px -2px 0 #fff,2px -2px 0 #fff,-2px 2px 0 #fff;
  -webkit-animation-name: Home-Title;
  animation-name: Home-Title;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 3;
}

#Home .animation-Home .Title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fffffe;
  font-size: 50px;
  text-shadow: 1px 2px 0 #ffc6c7;
  z-index: 4;
}

#Home .animation-Home .Title.char-animation {
  display: inline-block;
  line-height: 1em;
}

@-webkit-keyframes Home-Title {
  0% {
    -webkit-transform: translate(0, 0) rotateX(25deg);
    transform: translate(0, 0) rotateX(25deg);
    width: 450px;
    height: 450px;
    background-color: #ff8ba7;
  }
  50% {
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
    width: 480px;
    height: 480px;
    background-color: #ff8ba7;
  }
  100% {
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
    width: 450px;
    height: 450px;
    background-color: #ff8ba671;
  }
}

@keyframes Home-Title {
  0% {
    -webkit-transform: translate(0, 0) rotateX(25deg);
    transform: translate(0, 0) rotateX(25deg);
    width: 450px;
    height: 450px;
    background-color: #ff8ba7;
  }
  50% {
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
    width: 480px;
    height: 480px;
    background-color: #ff8ba7;
  }
  100% {
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
    width: 450px;
    height: 450px;
    background-color: #ff8ba671;
  }
}

.slide-area {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide-area > div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
}

.slide-area > div.show {
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 1;
  z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

.Home-frame:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 207, 235, 0.199);
}

.Title {
  margin: 0 auto;
  text-align: center;
}

#About {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}

.About_title.About_name {
  color: #33272a;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px;
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
  -ms-grid-rows: 220px 220px;
  grid-template-rows: 220px 220px;
  margin: 0 auto;
}

.fadein_bottom {
  opacity: 0;
  -webkit-transform: translate(0, 200px);
  transform: translate(0, 200px);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.fadein_bottom.fadein-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.box-Name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  background-color: #ffc6c7;
}

.box-Birthday {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  background-color: #ffc6c7;
}

.box-Like {
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 2/6;
  background-color: #ffc6c7;
}

.Skills_title, .Works_title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 3em;
  padding-top: 30px;
}

.About-block_text, .Skills-text {
  color: #594a4e;
  margin-top: 5px;
}

.About-block_text {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.3rem;
}

.About_Birthday, .About_Like, .About_Name, .About_School {
  font-size: 1.5em;
}

.About_Birthday, .About_Like, .About_Name, .About_School {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
}

.box-Birthday, .box-Like, .box-Name, .box-School {
  -webkit-box-shadow: 0 5px 7px #594a4e;
  box-shadow: 0 5px 7px #594a4e;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.box-Birthday:hover, .box-Like:hover, .box-Name:hover, .box-School:hover {
  position: relative;
  top: 7px;
  left: 0;
  right: 0;
  margin: auto;
  height: 98%;
  width: 98%;
  border-radius: 10%;
  background-color: #c3f0ca;
  -webkit-animation-name: box-Name-anime;
  animation-name: box-Name-anime;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: 0 10px 7px #594a4e;
  box-shadow: 0 10px 7px #594a4e;
}

#Skills {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  color: #33272a;
  margin-top: 200px;
}

.inner-skills {
  margin: 10px 40px;
  display: inline-block;
}

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.Skills-text {
  cursor: pointer;
}

figcaption {
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fffffed7;
  -webkit-transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  opacity: 0;
  -webkit-box-shadow: 0 0 20px 0 #faeee7 inset;
  box-shadow: 0 0 20px 0 #faeee7 inset;
}

figure:hover figcaption {
  right: 0;
  opacity: 1;
}

.caption {
  position: absolute;
  right: 100%;
  -webkit-transition: .6s;
  transition: .6s;
}

figure:hover .caption {
  right: 0;
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.inner-skills-img {
  height: 180px;
  width: 180px;
}

.back-star {
  position: relative;
  top: .5rem;
  right: 1.5rem;
  width: 110%;
  height: 80px;
  background-color: #fffffe;
  -webkit-box-shadow: 7px 7px 3px 0 #594a4e;
  box-shadow: 7px 7px 3px 0 #594a4e;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.back-star:hover {
  position: relative;
  top: .8rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.star5 {
  position: relative;
  top: 4.8rem;
  right: 1rem;
  z-index: 3;
  display: inline-block;
  white-space: nowrap;
  color: #594a4e;
  font-size: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.star5:after, .star5:before {
  content: '★★★★★';
}

.star5:after {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #fe0;
}

.star5[data-rate="1"]:after {
  width: 10%;
}

.star5[data-rate="2"]:after {
  width: 20%;
}

.star5[data-rate="3"]:after {
  width: 30%;
}

.star5[data-rate="4"]:after {
  width: 40%;
}

.star5[data-rate="5"]:after {
  width: 50%;
}

.star5[data-rate="6"]:after {
  width: 60%;
}

.star5[data-rate="7"]:after {
  width: 70%;
}

.star5[data-rate="8"]:after {
  width: 80%;
}

.star5[data-rate="9"]:after {
  width: 90%;
}

.star5[data-rate="10"]:after {
  width: 100%;
}

.codepen_text {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #33272a;
  font-size: 1.5rem;
}

#Works {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #33272a;
  width: auto;
  height: 800px;
}

.Works_body {
  max-width: 850px;
  padding: 45px 35px;
  margin: 10px auto;
  height: 800px;
}

.enclosure-Works {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #222;
  border: 8px solid #33272a;
  overflow: hidden;
}

.Works-img {
  background-image: url(img/Works.jpg);
  background-size: cover;
  height: 0;
  padding-bottom: 45%;
}

.modal {
  width: 70vw;
  height: 90vh;
  background-color: #fff;
  position: fixed;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 10px 1rem rgba(255, 198, 199, 0.8);
  box-shadow: 0 10px 1rem rgba(255, 198, 199, 0.8);
  opacity: 0;
  -webkit-transition: opacity .8s ease-in-out;
  transition: opacity .8s ease-in-out;
  border-radius: .5rem;
  z-index: 1000;
}

.modal__article {
  text-align: center;
  padding: 2.5rem;
}

.modal__article .modal-title {
  font-weight: 600;
  margin-bottom: .75rem;
  color: #33272a;
}

.modal__article .modal-img {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.modal__article .modal-msg {
  margin-top: .8rem;
  color: #594a4e;
  font-size: 20px;
}

.modal__article .modal-msg .strong-tect {
  font-weight: 800;
  font-size: 1.3rem;
  color: #ff8ba7;
}

.modal__footer {
  width: 100%;
  height: 3rem;
}

.modal.in {
  opacity: 1;
  top: 50%;
}

.modal-title {
  font-size: 2rem;
}

#foot {
  position: relative;
  top: 70px;
  left: 100px;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px #ffc6c7;
  box-shadow: 0 0 8px #ffc6c7;
  width: 200px;
  height: 65px;
  background-color: #ffc6c7;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.button {
  font-family: 'Kosugi Maru',sans-serif;
  font-family: 'M PLUS Rounded 1c',sans-serif;
  font-weight: 700;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px #cfcfcf;
  box-shadow: 0 0 8px #cfcfcf;
}

.button:hover {
  color: #fff;
  background-color: HSLA(0, 0%, 100%, 0.2);
}

.button.Works-open-btn {
  position: relative;
  width: 200px;
  height: 65px;
  top: 50px;
  left: -100px;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fffffe;
  border: 2.5px solid #33272a;
  -webkit-transition: background-color 2.2s;
  transition: background-color 2.2s;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  border-radius: 15px;
}

.button.Works-open-btn:hover {
  position: relative;
  top: 63px;
  left: -100px;
  background-color: #fec7d7;
}

.button .Works-btn_text {
  font-size: 30px;
  display: block;
  text-decoration: none;
  color: #594a4e;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.button .Works-btn_text:hover {
  letter-spacing: 5px;
}

.button.-full {
  display: inline-block;
  vertical-align: middle;
  color: #33272a;
  line-height: 1;
  width: 2.5em;
  height: .1em;
  background: currentColor;
  border-radius: .1em;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button.-full::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#Contact {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #33272a;
  width: auto;
  height: 700px;
  margin-top: 300px;
  z-index: 10;
}

#Contact .inner-Contacts {
  margin: 10px 40px;
  display: inline-block;
}

#Contact .inner-Contacts-img {
  height: 130px;
  width: 130px;
}

#Contact .Contact-text {
  cursor: pointer;
  margin-top: 5px;
  color: #33272a;
}

.footer-title {
  text-align: center;
  padding: 30px;
  background-color: #ff8ba7;
  color: #33272a;
}

@media screen and (max-width: 1366px) and (min-width: 300px) {
  .menu {
    right: 30px;
    top: 40px;
    width: 30px;
    height: 20px;
  }
  .menu__line--foundation {
    right: -.5em;
    bottom: -3rem;
  }
  .menu__line--top {
    top: 18px;
  }
  .menu__line--center {
    top: 28px;
  }
  .menu__line--bottom {
    top: 38px;
  }
  .menu__line--bottom, .menu__line--center, .menu__line--top {
    right: 1em;
  }
  .header_sidebar {
    display: none;
  }
  .drawer-content li a {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .gnav__menu__item a {
    padding: 20px;
    font-size: 1.5em;
  }
  #Home .Title {
    position: absolute;
    font-size: 2.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #Home img {
    width: 100vw;
    height: 100vh;
  }
  #Home .animation-Home {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 0 #fff,-2px -2px 0 #fff,2px -2px 0 #fff,-2px 2px 0 #fff;
    box-shadow: 2px 2px 0 #fff,-2px -2px 0 #fff,2px -2px 0 #fff,-2px 2px 0 #fff;
    -webkit-animation-name: spin-right;
    animation-name: spin-right;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-iteration-count: linear infinite;
    animation-iteration-count: linear infinite;
    z-index: 3;
  }
  #Home .animation-Home .Title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 23px;
    color: #fffffe;
    text-shadow: 1px 2px 0 #ffc6c7;
    z-index: 4;
  }
  #Home .animation-Home .Title.char-animation {
    display: inline-block;
    line-height: 1em;
  }
  .orbit-Home-Circle {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff;
    box-shadow: 1px 1px 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff;
    z-index: 3;
  }
  .orbit-Home {
    position: absolute;
    top: -17px;
    left: 115px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #ffc6c7;
  }
  .orbit-Home-2 {
    position: absolute;
    top: 160px;
    left: 160px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #c3f0ca;
  }
  .orbit-Home-3 {
    position: absolute;
    top: 107px;
    left: -69px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #ff8ba7;
    z-index: 5;
  }
  @-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #drawer-check:checked ~ .drawer-content {
    margin-left: 0;
  }
  .container {
    margin: 0;
    padding: 0;
    display: block;
  }
  .About-block_text {
    font-size: 1.3rem;
    padding-bottom: 50px;
  }
  #Skills {
    position: relative;
    top: 200px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  .inner-skills {
    margin: 10px;
    display: inline-block;
  }
  .inner-skills-img {
    height: 100px;
    width: 100px;
  }
  #Skills {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  .back-star {
    position: relative;
    top: .5rem;
    right: .9rem;
    width: 100%;
    height: 50px;
  }
  .back-star:hover {
    top: .8rem;
  }
  .star5 {
    position: relative;
    top: 3rem;
    right: .9rem;
    font-size: 15px;
  }
  .caption {
    position: absolute;
    right: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  figure:hover .caption {
    right: 0;
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
  }
  .button.-full {
    top: 30px;
    right: 10px;
  }
  #Works {
    position: relative;
    top: 200px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    color: #33272a;
  }
  .Works_body {
    max-width: 900px;
    padding: 45px 35px;
    margin: 10px auto;
  }
  #foot {
    display: none;
  }
  .button.Works-open-btn {
    left: 0;
  }
  .button.Works-open-btn:hover {
    position: relative;
    left: 0;
  }
  .modal {
    margin-top: 30px;
    width: 70vw;
    height: 78vh;
  }
  .modal__article {
    padding: 20px;
  }
  .modal__article .modal-msg .strong-tect {
    font-size: 15px;
  }
  .modal__article .modal-title {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .modal__article .modal-img {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .modal__article .modal-msg {
    font-size: 10px;
  }
  #Contact .inner-Contacts {
    margin: 5px;
  }
  #Contact .inner-Contacts-img {
    width: 100px;
    height: 85px;
  }
  .footer-title {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */